@import "tailwindcss";

@theme {
  --color-primary: #156874;
  --color-primary-hover: #12535d;

  --color-background: #fffdfa;
  --color-secondarybackground: #f5f3f0;
  --color-surface: #ffffff;

  --color-text: #2e2e2e;
  --color-accent: #53e6cc;
  --color-accent-hover: #ff5252;
  --font-sans: "Poppins", sans-serif;
}

/* Custom scrollbar styles for admin content area */
.admin-scroll {
  /* For Firefox */
  scrollbar-width: thick;
  scrollbar-color: var(--color-primary) #ffffff;
}

/* WebKit-based browsers (Chrome, Edge, Safari) */
.admin-scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px; /* if horizontal scrollbar appears */
}

.admin-scroll::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 12px;
}

.admin-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 12px;
  border: 3px solid #ffffff;
}

.admin-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-hover);
}

.admin-scroll:focus {
  outline: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
